* {
    scroll-behavior: smooth;
}

#mainTitle {
    margin-top: 64px;
    margin-bottom: 64px;
}

#mainTitle h1 {
    font-size: 120px;
}


#navigation {
    margin: 10px 40px;
}

#content {
    position:relative;
    width: 90%;
    left:50%;
    transform:translate(-50%);
}

#my-skills {
    margin-top: 64px;
}

#my-projects {
    margin-top: 128px;
}

#contact-me {
    margin-top: 32px;
}

#my-skills-list {
    position:relative;
    left:50%;
    transform: translateX(-50%);
    width: 64%;
}

.skill-item {
    color:white;
    height: 180px;
    background-color:blue;
    padding: 20px;
    border:black solid 1px;
    border-radius: 500px;
}

.skill-item .my-text {
    float:right;
    width: 60%;
}

.foot {
    color: grey;
}